{% extends 'base.html' %}
{% load static %}

{% block title %}Избранное{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/project_list.css' %}">
{% endblock %}

{% block page_id %}favorites{% endblock %}
{% block content %}
<div class="project-container">
    <div class="project-header">
        <h2 class="project-title">Избранные проекты</h2>
    </div>
    <p class="project-subtitle">Проекты, которые вас заинтересовали</p>

    <div class="projects-grid">
        {% for project in projects %}
        {% include 'includes/project-card.html' %}
        {% empty %}
        {% include 'includes/empty-project-card.html' with empty_title="Пока нет избранных проектов" empty_message="Добавляйте проекты в избранное, чтобы не потерять их" button_link="/projects/list" button_text="Посмотреть проекты" %}
        {% endfor %}
    </div>

    {% include 'includes/project-fav-toggle.js' %}
</div>

{% endblock %}
